.phone {
  background-color: white;
  border-radius: 7px;
  display: grid;
  place-items: center;
  position: sticky;
  top: 0; /* Stick to the top edge of the nearest scrolling ancestor */
  padding: 20px;
  svg {
    rect {
      cursor: pointer;
    }
  }
}

.second {
  top: 342px;
}
text {
  border: 1px solid;
}
